.fill {
	width: 100%;
}
div.top {
	display: flex;
}
img.logo {
	min-width: 1in;
	max-width: 1in;
	min-height: 1in;
	max-height: 1in;
	margin-bottom: auto;
}
.top h1 {
	width: 100%;
}
button {
	display: inline-block;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #0069bc;
	
	transition: box-shadow .2s, background-color .2s, color .2s;
	transition-timing-function: linear;
}

button:hover:enabled {
	color: #0069bc;
	background-color: white;
	
	box-shadow: 0px 3px 10px grey;
}

button:disabled {
	background-color: grey;
	color: white;
}
table {
	width: 100%;
}
td {
	width: 50%;
	height: 100%;
}
h1, h2 {
	text-align: center;
}
h2 {
	margin: 0.1em;
}
div {
	margin: 5px;
	padding: 5px;
}
div.box {
	border: 2px solid black;
	//height: 8em;
	overflow: hidden;
	transition: height .5s;
}
div.box.hidden {
	height: 1.1em;
}
.container {
	max-width: 800px;
	margin: auto;
	margin-top: 1%;
	border: 1px solid black;
}
input {
	font-size: 1em;
	width: 95%;
}
#buttonarea, #resultarea {
	min-height: 10em;
}
#progress {
	text-align: center;
	font-size: small;
	font-style: italic;
	margin: 0;
	padding: 0;
}
iframe {
	display: none;
}
