button {
	display: inline-block;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	color: white;
	
	transition: box-shadow .2s, background-color .2s, color .2s;
	transition-timing-function: linear;
	
	width: 100%;
}
button.blue {
	background-color: #5a90ce;
}
button.red {
	background-color: red;
}
button:hover:enabled {
	
	background-color: white;
	
	box-shadow: 0px 3px 10px grey;
}
button.blue:hover:enabled {
	color: #5a90ce;
}
button.red:hover:enabled {
	color: red;
}
button:disabled {
	background-color: grey;
	color: white;
}
table {
	width: 50%;
	margin: auto;
	margin-top: 3%;
}
th {
	width: 50%;
	height: 100%;
}
textarea {
	width: 100%;
	height: 300px;
}
#descrip {
	margin-top: 3%;
	text-align:center;
}
