.fill {
	width: 100%;
}

button {
	display: inline-block;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #0069bc;
	
	transition: box-shadow .2s, background-color .2s, color .2s;
	transition-timing-function: linear;
}

button:hover:enabled {
	color: #0069bc;
	background-color: white;
	
	box-shadow: 0px 3px 10px grey;
}

button:disabled {
	background-color: grey;
	color: white;
}
body {
	
}
table {
	width: 100%;
}
td {
	width: 50%;
	height: 100%;
}
h1, h2 {
	text-align: center;
}
div {
	margin: 5px;
	padding: 5px;
}
div.box {
	border: 2px solid black;
}
.container {
	max-width: 800px;
	margin: auto;
	margin-top: 3%;
	border: 1px solid black;
}
input {
	font-size: 1em;
}
#buttonarea, #resultarea {
	height: 240px;
}
